.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite linear;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.title {
	color: #2cac53;
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.tasks-block-item:before {
	content: '✓ ';
	margin-right: 20px;
	color: #2cac53;
	font-size: 1.2rem;
}

.tasks-block-item {
	background: #f1f3f5;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

.task-item-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

.task-item-content span,
.task-item-content input {
	flex: 1;
}

.tasks-block-item input[type='text'] {
	flex: 1;
	padding: 8px;
	border: 1px solid #ced4da;
	border-radius: 4px;
	margin-right: 10px;
	font-size: 1rem;
}

.task-item-buttons {
	display: flex;
}

.tasks-block-item button {
	margin-left: 10px;
	padding: 6px 12px;
	color: white;
	background-color: #28a745;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.9rem;
	transition: background-color 0.3s ease;
}

.tasks-block-item button:hover {
	background-color: #218838;
}

.tasks-block-item .delete-button {
	background-color: #dc3545;
}

.tasks-block-item .delete-button:hover {
	background-color: #c82333;
}

.error {
	color: red;
	text-align: center;
}

.tasks-block-item .save-button {
	background-color: #28a745;
}

.tasks-block-item .save-button:hover {
	background-color: #218838;
}

.tasks-block-item .cancel-save-button {
	background-color: #6c757d;
}

.tasks-block-item .cancel-save-button:hover {
	background-color: #5a6268;
}
